<html>
    <head>
        <title>Trivia</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <img src="https://futura.antel.com.uy/pluginfile.php/1/theme_adaptable/logo/1593192953/logo%20futura%20blanco.png"  height="30" class="d-inline-block align-top" alt="">
      Python Avanzado   
    </a>
    <div>
        <button type="button" class="btn btn-primary"><a href="{{ url_for('public.rankings') }}" style="color: white;">Rankings</a></button>
    </div>
    <div>
        <button type="button" class="btn btn-primary"><a href="{{ url_for('public.index_trivia') }}" style="color: white;">Inicio</a></button>
        {% if current_user.is_anonymous %}
        <button type="button" class="btn btn-primary"><a href="{{ url_for('auth.login') }}" style="color: white;">Iniciar sesión</a></button>
        <button type="button" class="btn btn-primary"><a href="{{ url_for('auth.register') }}" style="color: white;">Registrarse</a></button>
        {% else %}
        <button type="button" class="btn btn-primary"><a href="{{ url_for('auth.logout') }}" style="color: white;">Cerrar sesión</a></button>  {{ current_user.name }}
        {% endif %}

    </div>
  </nav>

        <hr>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>