<body>
    {% extends "base.html" %}
    {% block content %}
    <h1>Categoría {{categoria.descripcion}}</h1>
    <br>
    <div style="text-align: center;">
    <h2><span
    style="font-weight: bold; background-color: rgb(147, 206, 222);">{{pregunta.text}}</span></h2>
    <br>
    <div style="text-align:center;">
    {% for r in respuestas%}
    <button type="button" class="btn btn-light"><a href="/trivia/{{categoria.id}}/{{pregunta.id}}/respuesta/{{r.id}}">{{r.text}}</a></button>
    {% endfor %}
    </div>
    <br>
    </div>
    <br>
    {% endblock %}
    </body>
    